/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    font-size: 20px;
    background-color: #E4E0DD;
}

.central-block {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
}

/* Шапка */

.header {
    height: 70px;
    background-color: #E4E0DD;
    display: flex;
    align-items: center;
}

.call-button {
    width: 182px; /* Ширина кнопки */
    height: 48px; /* Высота кнопки */
    background-color: #7E8276; /* Цвет фона */
    border: none; /* Убираем границу */
    border-radius: 10px; /* Скругление углов */
    font-size: 12px; /* Размер текста */
    font-family: 'Helvetica';
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.call-button:hover {
    background-color: #6a6d63; /* Цвет фона при наведении */
}

.call-button a {
    text-decoration: none;
    color: white;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo img{
    height: 50px;
}

.header nav {
    display: flex;
    gap: 60px;
}

.header nav a {
    text-decoration: none;
    color: #7E8276;
}

.header nav a:hover { 
    color: #6a6d63;; 
}

/* Секции */

#hero {
    background-color: #E4E0DD;
    display: flex;

}

.intro-image {
    background-image: url('img/intro.jpg');
    border-radius: 0px 0px 20px 20px;
    background-size: cover;
    width: 100vw;
    height: 972px;
    position: relative;

    /* z-index: 10; */
}

.title {
    text-align: right;
    position: absolute;
    line-height: 0.9;
    margin-left: 144px;
    margin-top: 100px;
}

h1 {
    font-family: 'Dance';
    font-size: 120px;
    font-weight: 500;
    color: #2F312A;
}

.text-container h2 {
    font-family: 'Comforter';
    font-size: 120px;
    font-weight: 400;
    color: #2F312A;
}

.text-container {
    font-family: 'Helvetica';
    color: #2F312A;
    position: absolute;
    margin-left: 888px;
    margin-top: 464px;
}

.text-container h3 {
    font-weight: 500;
    font-size: 35px;
}

.text-container p {
    font-size: 20px;
    line-height: 1.2;
    
}

.text-container .call-button {
    width: 294px;
    height: 80px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 17px;
    background-color: #F4F0EC;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);

}

.text-container .call-button a {
    height: 80px;
    color: #7E8276;
    display: flex;
    align-items: center;
    justify-content: center;
}

#classes {
    max-height: 1845px;
}

#classes h2 {
    font-family: 'Dance';
    font-size: 100px;
    font-weight: 500;
    color: #2F312A;
    margin-left: 140px;
    margin-top: 80px;
}
#classes h3 {
    position: relative; 
    top: -10px;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-left: 140px;
    color: #2F312A;
    -webkit-text-stroke: #E4E0DD 0.5px;
}

.container p {
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    color: #2F312A;

}

.text-and-button {
    margin-left: 140px;
    width: 1160px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.next-back-button {
    height: 48px;
    width: 114px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Расстояние между карточками */
}

.next-back-button img {
    height: 14px;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #CCC6B6;
    opacity: 70%;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #7E8276;
}

.wrapper-card {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 88px;
    row-gap: 56px;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
    margin-top: 40px;
}

.wrapper-card .call-button {
    height: 46px;
    width: 176px;
    margin-top: 175px;
}


.card {
    background-color: #F4F0EC;
    width: 328px;
    height: 636px;
    border-radius: 10px;
    padding: 14px;
    color: #2F312A;
}

.card-img {
    width: 300px;
    height: 380px;
    border-radius: 8px;
}

.card-title {
    margin-top: 5px;
    font-family: 'Dance';
    font-weight: 700;
    font-size: 30px;
    position: absolute;
}

.card-text {
    margin-top: 40px;
    position: absolute;
    font-size: 15.7px;
}

#card3 .card-text {
    margin-top: 70px;
}

#card4 .card-text {
    margin-top: 70px;
}

.text-and-button-down {
    margin-left: 140px;
    margin-top: 40px;
    width: 1160px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text-and-button-down p {
    margin-top: 0;
    text-align: right;
}

#about {
    margin-top: 80px;
    margin-left: 140px;
    height: 410px;
    width: 1160px;
    text-align: right;

}

#about .button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;
}

#about h2 {
    font-family: 'Dance';
    font-size: 100px;
    font-weight: 400;
    color: #2F312A;
}

#about .yogapath {
    font-family: 'Comforter';
    font-size: 70px;
    font-weight: 400;
    color: #2F312A;
    margin-right: 15px;
}

#gallery {
    height: 1270px;
    background-color: blue;
}

#pricing {
    height: 700px;
    background-color: yellow;
}

#teachers {
    height: 940px;
    background-color: pink;
}

#contacts {
    height: 570px;
    background-color: paleturquoise;
}

/* Футер */

.footer {
    height: 400px;
    background-color: #8A877E;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: 'Dance';
    src: url(/fonts/dance_partner_0.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(/fonts/helvetica_regular.otf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comforter';
    src: url(/fonts/Comforter-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}