/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 1.6;
    background-color: #E4E0DD;
}

.central-block {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
}

.title {
    text-align: right;
    position: absolute;
    line-height: 0.9;
    margin-left: 144px;
    margin-top: 100px;
}

h1 {
    font-family: 'Dance';
    font-size: 120px;
    font-weight: 500;
    color: #2F312A;
}

.text-container h2 {
    font-family: 'Comforter';
    font-size: 120px;
    font-weight: 400;
    color: #2F312A;
}
/* Шапка */

.header {
    height: 70px;
    background-color: #E4E0DD;
    display: flex;
    align-items: center;
}

.call-button {
    width: 182px; /* Ширина кнопки */
    height: 48px; /* Высота кнопки */
    background-color: #7E8276; /* Цвет фона */
    border: none; /* Убираем границу */
    border-radius: 10px; /* Скругление углов */
    font-size: 12px; /* Размер текста */
    font-family: 'Helvetica';
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    margin-right: 44px;
}

.call-button:hover {
    background-color: #6a6d63; /* Цвет фона при наведении */
}

.call-button a {
    text-decoration: none;
    color: white;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo img{
    height: 50px;
    margin-left: 44px;
}

.header nav {
    display: flex;
    gap: 60px;
}

.header nav a {
    text-decoration: none;
    color: #7E8276;
}

.header nav a:hover { 
    color: #6a6d63;; 
}
/* Секции */

#hero {
    background-color: #E4E0DD;
    display: flex;

}

.intro-image {
    background-image: url('img/intro.jpg');
    background-size: cover;
    width: 100vw;
    height: 80vh;
    position: relative;

    /* z-index: 10; */
}

.text-container {
    font-family: 'Helvetica';
    color: #2F312A;
    position: absolute;
    margin-left: 888px;
    margin-top: 464px;
}

.text-container h3 {
    font-size: 35px;
}

.text-container p {
    font-size: 20px;
}

.text-container .call-button {
    width: 294px;
    height: 80px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 17px;
    background-color: #F4F0EC;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);

}

.text-container .call-button a {
    height: 80px;
    color: #7E8276;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .intro-image img {
    height: 810px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 130px; 
} */

#classes {
    height: 1550px;
    background-color: aqua;
}

#studio {
    height: 410px;
    background-color: aquamarine;
}

#gallery {
    height: 1270px;
    background-color: blue;
}

#pricing {
    height: 700px;
    background-color: yellow;
}

#teachers {
    height: 940px;
    background-color: pink;
}

#contacts {
    height: 570px;
    background-color: paleturquoise;
}

/* Футер */

.footer {
    height: 400px;
    background-color: #8A877E;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: 'Dance';
    src: url(/fonts/dance_partner_0.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(/fonts/helvetica_regular.otf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comforter';
    src: url(/fonts/Comforter-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}